{% extends 'base.html' %}
{% block body_block %}
<div style="text-align: center;">
    <div style="text-align: center;">
        <h3>Order code: {{order.pk}}</h3>
        <h3>Customer: {{order.name}}</h3>
        <hr>
    </div>
    <div>
      
    </div>
    <div style="display: flex; flex-direction: column;">
        <table class="order-detail">
            <th>Name</th>
            <th>Q.</th>
            <th>Ammount</th>
            {% for product in order.products.all %}
            <tr class="order-detail">
                <td>{{product.get_name}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.get_total_price}}</td>
            </tr>
            {% endfor %}
        </table>
    </div> 
    
    <hr>
    <div>
        <h5>Total: {{order.get_total_price}}</h5>
        {{order.payment_date|date:'d/m/y H:i A'}}
</div>
<form method="POST">
    {% csrf_token %}
    <div id="rating">
        <h1>Rating: <strong id="rating-show"></strong></h1>
        <input style="display: none;" type="number" name="rating" id="rating-inp">
        <span class="rating" rating-val="1">★</span>
        <span class="rating" rating-val="2">★</span>
        <span class="rating" rating-val="3">★</span>
        <span class="rating" rating-val="4">★</span>
        <span class="rating" rating-val= "5">★</span>

        <div style="margin-top: 20px; display: flex; justify-content: center;">
            <label for="feedback" style="margin-right: 10px;">Feedback: </label>
            <textarea name="feedback" id="" cols="50" rows="10"></textarea>
        </div>
        <button style="background-color: white; padding: 10px; margin: 2px;">Send feedback</button>

    </div>

</form>

{% endblock %}


{% block javascript %}
<script>
/**
 * Star rating class
 * @constructor
 */
 function StarRating() {
  this.init();
};

/**
 * Initialize
 */
StarRating.prototype.init = function() {
  this.stars = document.querySelectorAll('#rating span');
  for (var i = 0; i < this.stars.length; i++) {
    this.stars[i].setAttribute('data-count', i);
    this.stars[i].addEventListener('mouseenter', this.enterStarListener.bind(this));
  }
  document.querySelector('#rating').addEventListener('mouseleave', this.leaveStarListener.bind(this));
};

/**
 * This method is fired when a user hovers over a single star
 * @param e
 */
StarRating.prototype.enterStarListener = function(e) {
  this.fillStarsUpToElement(e.target);
};

/**
 * This method is fired when the user leaves the #rating element, effectively removing all hover states.
 */
StarRating.prototype.leaveStarListener = function() {
  this.fillStarsUpToElement(null);
};

/**
 * Fill the star ratings up to a specific position.
 * @param el
 */
StarRating.prototype.fillStarsUpToElement = function(el) {
  // Remove all hover states:
  for (var i = 0; i < this.stars.length; i++) {
    if (el == null || this.stars[i].getAttribute('data-count') > el.getAttribute('data-count')) {
      this.stars[i].classList.remove('hover');
    } else {
      this.stars[i].classList.add('hover');
    }
  }
};

// Run:
new StarRating();

$(".rating").on("click", function(){
    $("#rating-show").text($(this).attr("rating-val"));
})

</script>
{% endblock %}