* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.2;
  color: tomato;
  background-color: black;
}
.name h2 {
  margin-top: 10px;
  padding: 0px 25px;
  display: inline-block;
  color: #a7eeee;
}
/******                 NAV - BAR           ********/
/******              height: 100vh;         ????    ********/
.nav-bar {
  display: flex;
  justify-content: center;
}
nav {
  margin-top: 10px;
}
ul#main-menu {
  display: flex;
}
ul#main-menu li {
  padding: 0px 40px;
}
ul#main-menu a {
  display: block;
  padding: 10px 0px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #a7eeee;
  position: relative;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
ul#main-menu a:hover {
  color: tomato;
}
ul#main-menu a::after {
  content: "";
  height: 5px;
  width: 0px;
  background: tomato;
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: all 0.5s ease-in-out;
}
ul#main-menu a:hover::after {
  width: 50%;
  transform: translateX(100%);
}
/******                 MAIN           ********/
.main-container_flex-row {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
  justify-items: center;
}
/******                 MENU-GRID           ********/

ul.products {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  overflow: auto;
  justify-content: ;
}
ul.products li {
  flex-basis: 33%;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
}
ul.products li img {
  max-width: 100%;
  height: auto;
}
ul.products li .product-top {
  position: relative;
  overflow: hidden;
}
ul.products li .product-top .product-thumb {
  display: block;
}
ul.products li:hover .product-top .product-thumb img {
  filter: opacity(0.6);
}
ul.products li .product-top .product-thumb img {
  display: block;
}
ul.products li .product-top a.buy-now {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  background-color: #446084;
  color: #fff;
  padding: 10px;
  position: absolute;
  bottom: -38px;
  width: 93%;
  transition: 0.25s ease-in-out;
  opacity: 85%;
}
ul.products li:hover a.buy-now {
  bottom: 0px;
}
ul.products li .product-info a {
  display: block;
  text-decoration: none;
}
ul.products li .product-info a.product-name {
  color: #34b3c8;
  padding: 3px;
}
ul.products li .product-info .product-price {
  color: #ceb6b6;
  padding: 2px;
  font-weight: 600;
}
/******                 INVOICE           ********/
.invoice_flex-column,
.menu-grid {
  border: solid 2.5px;
  border-radius: 10px;
  margin: 0px 10px 5px 10px;
  height: 100%;
  max-height: 100%;
  border-color: #9e9e9e;
  flex-basis: 70%;
}
.invoice_flex-column {
  background-color: white;
  flex: 0 0 500px;
  overflow: auto;
}
.invoice_flex-column .cart {
  display: flex;
  padding: 10px 15px;
}
.invoice_flex-column .cart img {
  display: inline-block;
  height: 50px;
  width: auto;
}
.invoice_flex-column .cart h2 {
  display: inline-block;
  padding: 15px 15px;
}
.invoice_flex-column .invoice-list {
  border: solid 2.5px;
  border-radius: 3px;
  margin: 0px 10px 5px 10px;
  height: 500px;
  box-shadow: 3px 3px 2px rgb(3 3 3);
  border-color: #eea7a7;
}
.invoice_flex-column .invoice-total {
  display: flex;
  justify-content: space-between;
}
.invoice_flex-column .invoice-total h4 {
  display: inline-block;
  padding: 15px 15px;
}
.invoice_flex-column .invoice-total h3 {
  display: inline-block;
  padding: 15px 15px;
}
.invoice_flex-column .invoice-payment {
  padding: 10px 15px;
  text-align: center;
}
.invoice_flex-column .invoice-payment a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 55px;
  background-color: tomato;
  border: solid 0.5px;
  border-color: tomato;
  border-radius: 10px;
  color: white;
}
.invoice_flex-column .invoice-payment a:hover {
  filter: opacity(0.6);
}

/* Duy */
.item-line {
  display: flex;
}

.arrow {
  border: solid rgb(158, 155, 154);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.counter-btn {
  background-color: #fff;
  border: solid rgb(238, 238, 238);
  border-radius: 15%;
  width: 25%;
}

.counter-num {
  padding: 0 10px 0 10px;
  border-bottom: 3px solid rgb(221, 221, 221);
  margin: 0px 5px 0 5px;
}
#container-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  background: rgb(54, 53, 53);
  border-radius: 5%;
  padding: 10px;
  z-index: 10;
}
.loader {
  border: 5px solid rgb(54, 53, 53);
  border-radius: 50%;
  border-top: 5px solid white;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 0.7s linear infinite; /* Safari */
  animation: spin 0.7s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    opacity: 100%;
  }
  100% {
    -webkit-transform: rotate(360deg);
    opacity: 0%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.button {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  position: relative;
  padding: 0.8em 1.4em;
  padding-right: 4.7em;
  background: #009ed8;
  border: none;
  color: white;
  transition: 0.2s;
  height: 40px;
  width: 400px;
}
.button:before,
.button:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: inherit;
  padding-bottom: inherit;
  width: 2.8em;
  content: "\00a0";
  font-size: 1.2em;
  text-align: center;
  transition: 0.2s;
  transform-origin: 50% 60%;
}
.button:before {
  background: rgba(0, 0, 0, 0.1);
}
.button:hover {
  background: #0079a5;
}
.button:active,
.button:focus {
  background: #002e3f;
  outline: none;
}
.button {
  min-width: 15em;
}
.debit {
  background: #139675;
}
.debit:hover {
  background: #0d6952;
}
.debit:active,
.debit:focus {
  background: #083b2e;
}
.debit:after {
  content: "\F054";
}
.debit:hover:after {
  -webkit-animation: bounceright 0.3s alternate ease infinite;
  animation: bounceright 0.3s alternate ease infinite;
}

.credit {
  background: #678596;
}
.credit:hover {
  background: #34556b;
}
.credit:active,
.credit:focus {
  background: #265d8a;
}
.credit:after {
  content: "\F095";
}
.credit:hover:after {
  -webkit-animation: wiggle 0.05s alternate ease infinite;
  animation: wiggle 0.05s alternate ease infinite;
}

.goback {
  background: #fe5f55;
}
.goback:hover {
  background: #fe2f22;
}
.goback:active,
.goback:focus {
  background: #b90c01;
}
.goback:after {
  content: "\F0E0";
}
.goback:hover:after {
  -webkit-animation: none;
  -webkit-transform: skew(-20deg);
  animation: none;
  transform: skew(-20deg);
  text-indent: 0.1em;
}
@-webkit-keyframes bounceright {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(3px);
  }
}
@-webkit-keyframes wiggle {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(30deg);
  }
}
@keyframes bounceright {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(3px);
  }
}
@keyframes wiggle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}

#rating {
  text-align: center;
  perspective: 250px;
  position: absolute;
  top: 40%;
  width: 100%;
}

#rating span {
  cursor: pointer;
  font-size: 50px;
  padding: 0 10px;
  color: #fff;
  opacity: 0.5;
  transition: all 150ms;
  display: inline-block;
  transform: rotateX(45deg);
  transform-origin: center bottom;
}

#rating span.hover {
  color: #ff0;
  opacity: 1;
  transform: rotateX(0deg);
  text-shadow: 0 0 30px #ffc;
}

.search:focus {
  background-color: #e8e8e8;
}

.not-visible {
  display: none;
}

.results-card {
  width: 30%;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  border-radius: 7px;
  padding: 15px 15px;
  position: absolute;
  background-color: white;
  z-index: 1;
}

.search-product-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.item {
  text-decoration: none;
}
