{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!-- Latest compiled and minified css -->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'custom_css/abc.css' %}">
        <!-- Jquery -->
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script> 
</head>
<body>
    <div id="container-loader">
        <div class="loader"></div>
      </div>
    <div class="name">
        <h2>POS Restaurant</h2>    
    </div>
    <div class="nav-bar">
        <nav>
            <ul id="main-menu">
                <li><a href="{% url 'pos_app:index' %}">Home Page</a></li>
                <li><a href="">Feedback</a></li>
                <li><a href="">Clerk View</a></li>
                <li><a href="">Chief View</a></li>
                <li><a href="{% url 'pos_app:manage_index' %}">Manager View</a></li>
            </ul>
        </nav>
    </div>
    <main style="justify-content: center;" class="main-container_flex-row">
        {% block left_side %}
        {% endblock %}
        {% block right_side %}
        {% endblock %}
    </main>
</body>
</html>

<script>
$(document).ready(function() {
    $("#container-loader").hide();
    function addProduct(e) {
        $("#container-loader").show();
        var quantity_id = "#" + $(this).attr("quantity");
        var single_price_id = "#" + $(this).attr("single-price");
        var total_price_id = "#" + $(this).attr("total-price");
        e.preventDefault()
        $.ajax({
          type: 'GET',
          url: $(this).attr("href"),
          success: function(response){
            var current_quantity = Number($(quantity_id).text());
            console.log(response.data);
            $('.choosed-item').append(response.data);
            var single_price = Number($(single_price_id).text());
            if(current_quantity >= 1) {
            $(quantity_id).text(current_quantity + 1)
            $(total_price_id).text((single_price * (current_quantity + 1)).toFixed(2));
            }
            var total_order = ((Number($("#total-price").text()) + single_price).toFixed(2)) // 0.2;
            $('#total-price').text(total_order);
            $("#container-loader").hide();
          }
        })
    }

    function reduceProduct(e){
        $("#container-loader").show();
        e.preventDefault();
        var quantity_id = "#" + $(this).attr("quantity");
        var single_price_id = "#" + $(this).attr("single-price");
        var total_price_id = "#" + $(this).attr("total-price");
        var quantity = Number($(quantity_id).text());
        if(quantity > 1) {
          $.ajax({
          type: 'GET',
          url: $(this).attr("href"),
          success: function() {
            $(quantity_id).text(quantity - 1);
            var single_price = Number($(single_price_id).text());
            $(total_price_id).text((single_price * (quantity - 1)).toFixed(2));
            var total_order = (Number($("#total-price").text()) - single_price).toFixed(2)  // 0.2;
            $('#total-price').text(total_order);
            $("#container-loader").hide();
          }
        })
        }
      }

      function removeFromCart(e){
        $("#container-loader").show();
        e.preventDefault();
        var item_line = $(this).parent().parent().parent();
        var total_price_id = "#" + $(this).attr("total-price");
        var total_price = Number($(total_price_id).text())
        console.log($(this).attr("href"));
        $.ajax({
          url: $(this).attr("href"),
          success: function() {
            item_line.remove();
            var total_order = (Number($("#total-price").text()) - total_price).toFixed(2) // 0.2;
            $("#total-price").text(total_order);
            $("#container-loader").hide();
          }
        })
      }

    $("body").on("click",".product-thumb",addProduct);
    $("body").on("click", ".increase-quantity-btn", addProduct);
    $("body").on("click", ".reduce-btn", reduceProduct);
    $("body").on("click", ".remove-btn", removeFromCart);

})
</script>