{% extends 'manage/base.html' %}
{% block body_block %}
<div class="container">
    <div class="container-order">
        <div>
            <h3>Order code: {{order.pk}}</h3>
            <hr>
        </div>
        <div>
            <h6>Orderer: {{order.name}} </h6>
            <hr>
        </div> 
        <div>
            {% for ordered_product in ordered_product_list %}
            <h6>{{ordered_product}} ${{ordered_product.get_total_price}}</h6>
            {% endfor %}
            <hr>
            <h5>Total: ${{order.get_total_price}}</h5>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function() {
    $(".delete-btn").on("click", function(event) {
        if(!confirm("Bạn có chắc muốn xóa đơn này?")) {
            event.preventDefault();
        }
        
    })
});
</script>

{% endblock %}