{% extends 'manage/base.html'%}
{% block body_block %}
<div class="container">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label style="margin: 5px;">Product name:</label>
        <input class="form-control" type="text" name="name"><br>
        <label style="margin: 5px;">Description:</label>
        <textarea class="form-control" name="description" id="description" cols="50" rows="10"></textarea><br>
        <label style="margin: 5px;">Price:</label>
        <input class="form-control" type="number" name="price" ><br>
        <label style="margin: 5px;">Current image:</label>
        <img style="margin: 5px; width: 40%;" src="{{product.image.url}}" alt=""><br>
        <div style="margin: 5px;">{{form.as_p}} </div>
        <button type="submit" class="btn btn-success btn-primary">Save</button>
    </form>
</div>

{% endblock %}

{% block javascript %}
<script>
    $('input[name=name]').val('{{product.name}}');
    $('#description').val('{{product.description}}');
    $('input[name=price]').val('{{product.price}}')
</script>
{% endblock %}